/*

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default:400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Paragraph default: 1.6

--- 02 COLORS

- Primary: #087f5b
- Secondary: 
- Tints: #84bfad
- Tints 01: #def0ee #cee9e6 #7cc3bd #49908a #1b3634 
- Tints 02: #cee5de #84bfad #39997c #066649 #033324
- Shades:
- Accents:
- Greys: #555

--- 05 SHADOWS

--- 06 BORDER_RADIUS

Default: 9px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1; /* space between lines*/
  font-weight: 600;
  color: #333;
}

/* .test { */
/* background-color: red; */
/* padding: 100px; */
/* width: 1000px; */
/* max-width: 1000px;  */
/*IMPORTANT - If the container width is larger than the specified max-width then the width of the element is equal the value that was specified for max-width! If the container is less than the specified max-width then the width of the element will be 100% of the container element width!*/
/* max-width: 50rem;  */
/* 1 rem = 16px -> 50rem = 800px*/
/* padding: 4rem; */
/* color: aliceblue; */
/* font-size: 2rem; */
/* } */

/*********************************************/
/*GENERAL COMPONENT*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f3f5;
  /*height of header to have 'sticky elements' when resizing page*/
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 4.8rem;
}

/*********************************************/
/*NAVIGATION*/
/*********************************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  /*animate in seconds*/
  transition: background-color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #84bfad;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #84bfad;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #087f5b;
  transition: background-color 0.3s;
}

/*********************************************/
/*HERO SECTION*/
/*********************************************/

.section-hero {
  background-color: #84bfad;
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #222;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #087f5b;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  text-decoration: none;
  /*Put the transition on original "state"*/
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #087f5b;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #033324;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #84bfad;
  color: #555;
  /* border: 3px solid #fff; */
  /*Trick to add border inside*/
  box-shadow: inset 0 0 0 3px #fff;
}

.hero-img {
  width: 100%;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/*********************************************/
/*FOOTER SECTION*/
/*********************************************/

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.footer {
  padding: 9.6rem 0;
}

.icon {
  height: 1.4rem;
}
