/*

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default:400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Paragraph default: 1.6

--- 02 COLORS

- Primary: #087f5b
- Secondary: 
- Tints: #84bfad
- Tints 01: #def0ee #cee9e6 #7cc3bd #49908a #1b3634 
- Tints 02: #cee5de #84bfad #39997c #066649 #033324
- Shades:
- Accents:
- Greys: #555

--- 05 SHADOWS

--- 06 BORDER_RADIUS

Default: 9px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1; /* space between lines*/
  font-weight: 600;
  color: #333;
}

/* .test { */
/* background-color: red; */
/* padding: 100px; */
/* width: 1000px; */
/* max-width: 1000px;  */
/*IMPORTANT - If the container width is larger than the specified max-width then the width of the element is equal the value that was specified for max-width! If the container is less than the specified max-width then the width of the element will be 100% of the container element width!*/
/* max-width: 50rem;  */
/* 1 rem = 16px -> 50rem = 800px*/
/* padding: 4rem; */
/* color: aliceblue; */
/* font-size: 2rem; */
/* } */

/*********************************************/
/*GENERAL COMPONENT*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f3f5;
  /*height of header to have 'sticky elements' when resizing page*/
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 4.8rem;
}

/*********************************************/
/*NAVIGATION*/
/*********************************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  /*animate in seconds*/
  transition: background-color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #84bfad;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #84bfad;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #087f5b;
  transition: background-color 0.3s;
}

/*********************************************/
/*HERO SECTION*/
/*********************************************/

.section-hero {
  background-color: #84bfad;
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #222;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #087f5b;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  text-decoration: none;
  /*Put the transition on original "state"*/
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #087f5b;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #033324;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #84bfad;
  color: #555;
  /* border: 3px solid #fff; */
  /*Trick to add border inside*/
  box-shadow: inset 0 0 0 3px #fff;
}

.hero-img {
  width: 100%;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
/*********************************************/
/*HOW IT WORKS SECTION (REUSABLE GRID*/
/*********************************************/
/*********************************************/
/*MAKING THE MAIN/SECTION HOW PART*/
/*********************************************/

.section-how {
  padding: 9.6px 0;
  background-color: #f1f3f5;

  /*01. Now it is all stacked on top of each other*/
}

/*08. Now we can create a reusable centered container*/
/*This will center the content in our page*/
/*now we write "section-how container grid grid--2-cols"*/
.container {
  /* max-width: 130rem; */
  padding: 0 3.2rem;
  margin: 0 auto;
}

/*02. We will make now a reusable grid lets say 2x2*/
/*We write 'grid' int the html next to 'section-how' class*/
.grid {
  display: grid;
  gap: 3.2rem;
  /* box-sizing: border-box; */
}

/*03. now to reuse the grid we need to export it*/
/*we move the upper code 'grid-template-colums...' to here now*/
/* .grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
} */
/*04. now we can copy above and make '.grid--3-cols' 3 columns*/
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/*05. we then write in html the first 'section-how grid' this'grid--2-cols'   "section-how grid grid--2-cols"*/
/*then for the other 'section-how grid' we write "section-how grid grid--3-cols"*/
/*06. now this grid reusability will work in the footer !!! */

.section-how div div {
  padding: 20px;
  font-size: 30px;
  margin: 0 auto;
  /* gap: 3.2rem; */
  /* background-color: #333; */
}

/*09. We turned this off because we want the .section how to be in a div so that it will span its width from left to right border*/
/*we delete  "grid grid--2-cols" from the first section class and leave it as "section-how"*/
/*we add div class="container grid grid --2-cols" for the first section*/
/* .section-how div:nth-child(1) {
  background-color: aqua;
}
.section-how div:nth-child(2) {
  background-color: blue;
}
.section-how div:nth-child(3) {
  background-color: violet;
}
.section-how div:nth-child(4) {
  background-color: red;
} */

.section-how {
  /*top / right / bottom / left*/
  /*or top / horizontal / left*/
  padding: 4.8rem 0 12.8rem 0;
}
.subheading {
  color: #777;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.list-item {
  color: #555;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.price:only-child {
  font-size: 1.8rem;
  grid-template-columns: 1fr;
  /* flex-direction: column; */
  padding: 0;
  margin-right: 0;
}

label {
  display: block;
  font: 1.6rem "Inter", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

.pricing-name {
  color: #087f5b;
  font-weight: 600;
  margin-bottom: 1.6rem;
  /* font-size: 1.9rem; */
  letter-spacing: 0.75;
}

.pricing-plan {
  list-style: none;
  /* display: flex; */
  align-items: center;
}

.pricing-plan:link,
.pricing-plan:visited {
  /* display: inline-block; */
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  /*animate in seconds*/
  transition: background-color 0.3s;
}

.pricing-plan:hover,
.pricing-plan:active {
  cursor: pointer;
  /* display: inline-block; */
  /* padding: 1.2rem 2.4rem; */
  border-radius: 9px;
  box-shadow: inset 0 0 0 5px #333;
  background-color: #84bfad;
  /* color: #eee; */
  text-decoration: none;
  transition: all 0.3s;
}

.total-price {
  margin-top: 1.6rem;
  font-size: 1.8rem;
}

.text-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

/*********************************************/
/*STEP 02 = CHOOSING DATE/TIME (CALENDAR)*/
/*********************************************/

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid--1-cols {
  margin-bottom: 9.6rem;
}

.section-calendar {
  padding: 9.6px 0;
  background-color: #f1f3f5;
}

.section-calendar div div {
  /* padding: 20px; */
  font-size: 30px;
  margin: 0 auto;
}

.section-calendar {
  padding: 4.8rem 0 12.8rem 0;
}

ul {
  list-style-type: none;
}

.container-calendar-center {
  max-width: 130rem;
  padding: 20px;
  /* margin: 0 auto; */
  /* margin-bottom: 9.6rem; */
  gap: 3.2rem;
}
.container-calendar-center div {
  padding: 20px;
  margin: 0 auto;
  /* margin-bottom: 9.6rem; */
  gap: 3.2rem;
}

/*Month header*/
.month {
  padding: 70px 25px;
  width: 100%;
  background: #84bfad;
  text-align: center;
}

/*Month list*/
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #fff;
  /* font-size: 20px; */
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*Previous button inside month header*/
.month .prev {
  float: left;
  padding-top: 10px;
}

/*Next button*/
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon - Sun) */

.weekdays {
  margin: 10px;
  padding: 10px;
  background-color: #f1f3f5;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #777;
  text-align: center;
}

/* Days (1-31) */

.days {
  padding: 10px;
  background: #f1f3f5;
  margin: 0px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 20px;
  /* padding: 10px; */
  /* font-size: 12px; */
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px 10px;
  /* background: #fff; */
  border: solid 5px #84bfad;
  color: #84bfad !important;
}

/*********************************************/
/*STEP 03 - CHECKOUT: RESERVATION DETAILS*/
/*********************************************/

.section-checkout {
  padding: 9.6px 0;
  background-color: #f1f3f5;
}

.section-checkout div div {
  font-size: 30px;
  margin: 0 auto;
}

.section-checkout {
  padding: 4.8rem 0 12.8rem 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container-form,
.container-cart {
  background-color: lightgray;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn-checkout {
  background-color: #84bfad;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 9px;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s;
}

.btn-checkout:link,
.btn-checkout:visited {
  border-radius: 9px;
  color: #fff;
  background-color: #84bfad;
}

.btn-checkout:hover,
.btn-checkout:active {
  background-color: #087f5b;
  transition: all 0.3s;
}

span.price {
  float: right;
  color: grey;
}

/*Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }
}

/*********************************************/
/*FOOTER SECTION*/
/*********************************************/

/*07. Reusing the grid template from hero to here!*/
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.footer {
  background-color: #f1f3f5;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 4.8rem; */
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  flex-direction: row;
  /* gap: 2.4rem; */
}
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

/*adjusting the footer column widths of the grid*/
/*we need to rename the div class of footer to "container grid grid--footer"*/
.grid--footer {
  grid-template-columns: 1.5fr 3fr 3fr 1.5fr;
  gap: 9.6rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

/* .footer div div {
  padding: 100px;
  font-weight: 600;
  font-size: 1.8rem;
} */

.icon {
  height: 3.2rem;
  /*to position the element at the end of the row :*/
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  /* line-height: 1.6; */
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #84bfad;
}

.footer-link:hover,
.footer-link:active {
  color: #087f5b;
  transition: all 0.3s;
}
